.container {
  padding: 20px;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #4B3621;
}

.card {
  background: #eed1a0;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #5A3E2B;
}

/* Dark Mode */
:global(.dark) .heading {
  color: white;
}

:global(.dark) .card {
  background: #1f2937;
}

:global(.dark) .card h3 {
  color: #d1d5db;
}
